body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

/* NAVBAR */
nav {
  background: #1b5e20;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url('https://images.unsplash.com/photo-1604908554007-06c1c9c7c6b1');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.btn {
  background: #25D366;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* PRODUCTS */
.grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background: #1b5e20;
  color: white;
  text-align: center;
  padding: 10px;
}

/* RESPONSIVE */
@media(min-width:768px){
  .grid {
    grid-template-columns: repeat(3,1fr);
  }
}
